{% extends 'base.html' %}

{% block title %} Dashboard - Nevar-Systems {% endblock %}

{% block body %}

<style>
    .cfoot{
        background-color:#eaa0a2;
        height :100px;
    }
    .cfoot img:hover {
        width: 70px;
        height: 70px;
     
    }
</style>
    <div class="card w-90 bg-light" style="margin:1%; padding: 0.5%;">
        <div class="card-body">
        <h5 class="card-title"> User : {{current_user.username}} </h5>
        <h5 class="card-text"> Email : {{current_user.email}}</h5>

        <br>
        
        </div>
    </div>
 

    <div class="card"  style="margin:1%; padding: 0.5%;">
    
        <div class="project_container " >

            {% for pro in current_user.project %}
                
                <div class="card ">

                    <div class="card-body" style="width:100%">
                
                        <div style="">
                            <img src="/static/resources/images/mapicon.svg" alt="Icon">
                            <p style="align-content: center; display: flex; justify-content:center; align-items: center;  text-align: center;"><b>{{ pro.name }}</b></p>
                        </div>
                    </div>
                
                    <div class=" cfoot card-footer d-flex justify-content-center">
                        <a class="btn " href="{{url_for('project', id=pro.id)}}">
                            <img src="/static/resources/images/enter.svg" alt="Icon">
                        </a>

                    </div>
                </div>
            
            {% endfor %}
            </div>
    </div>

{% endblock %}
