{% extends 'base.html' %}

{% block title %} Dashboard - Nevar-Systems {% endblock %}


{% block body %}

    <div class="card w-90 bg-light" style="margin:1%; padding: 0.5%; ; ">
        <div class="card-body">
        <h5 class="card-title"> User : {{current_user.username}} </h5>
        <h5 class="card-text"> Email : {{current_user.email}}</h5>

        <br>
        
        </div>
    </div>

    

    <div class="project_container d-flex flex-wrap">

        {% for pro in current_user.project %}
        
        <div class="card mb-3 col-sm-4">

            <div class="card-body d-flex justify-content-center align-items-center">
           
                <div style="align-content: center;">
                    <img src="{{url_for('static' , filename='images/folder.png')}}" class="img-fluid" style=" width: 75px; height: 75px;">
                    <p style="align-items: center;"> <b>{{ pro.name }} </b></p>
                </div>
            </div>
        
            <div class="card-footer d-flex justify-content-center">
                <a class="btn " href="{{url_for('project', id=pro.id)}}"><img src="{{url_for('static' , filename='images/log-in.png')}}" alt="Project"></a>

                <!-- <a class="btn" href="{{url_for('add_layer', id=pro.id)}}"> <img src="/static/images/plus.png" alt="Add"> </a> -->

                <!-- <a class="btn btn-primary" href="{{url_for('project', id=pro.id)}}"> Project </a> -->

            </div>
          </div>
        
          {% endfor %}
      </div>
    

{% endblock %}
