{% extends 'base.html' %}

{% block title %} Dashboard - Nevar-Systems {% endblock %}


{% block body %}

    <div class="card w-90 bg-light" style="margin:1%; padding: 0.5%;">
        <div class="card-body">
        <h5 class="card-title"> User : {{current_user.username}} </h5>
        <h5 class="card-text"> Email : {{current_user.email}}</h5>

        <br>
        
        </div>
    </div>
 

    <div class="card"  style="margin:1%; padding: 0.5%;">
    
        <div class="project_container " >

            {% for pro in current_user.project %}
                
                <div class="card ">

                    <div class="card-body" style="width:100%">
                
                        <div style="align-content: center;">
                            <img src="{{url_for('static' , filename='images/folder.png')}}" class="img-fluid" style=" width: 75px; height: 75px;">
                            <p style="align-items: center;"> <b>{{ pro.name }} </b></p>
                        </div>
                    </div>
                
                    <div class="card-footer d-flex justify-content-center">
                        <a class="btn " href="{{url_for('project', id=pro.id)}}"><img src="{{url_for('static' , filename='images/log-in.png')}}" alt="Project"></a>

                    </div>
                </div>
            
            {% endfor %}
            </div>
    </div>

{% endblock %}
