
{% extends 'base.html' %}
    
{% block body %}

<!-- 
<div class="grid-container">

    <div class="header">
        <img src="/static/resources/images/ad.png" style="width: inherit; vertical-align: middle;height: 75px;">
        <span style="vertical-align: middle;"> Nevar Systems </span>
    </div>

    <div class="left">
        <div class="toc">

            <h3>layers</h3>

            <input type="checkbox" id="osm" value="Open Street Map" checked onchange="toggleLayer(event)">
            <label for="osm"> Open Street Map </label>
            <br>

            
            <input type="checkbox" id="admin2" value="admin2" checked onchange="toggleLayer(event)">
            <label for="osm"> admin2</label>
            <br>

            
            <input type="checkbox" id="2011_dist" value="2011_dist" checked onchange="toggleLayer(event)">
            <label for="osm"> 2011_dist </label>
            <br>

        </div>
    </div>

    <div class="right">
        <div id="map" style="width: 100%; height: 100vh;"></div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        
    </div>

</div> -->

<div id="map" style="width: 100%; height: 100vh;"></div>
<!-- 
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div> -->


<!-- <div id="popup" class="ol-popup">

    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>


    <div class="attQueryDiv" id="attQueryDiv">
        <div class="headerDiv" id="headerDiv">
            <label for="">Attribute Query</label>
        </div><br>
        <label for="">Select Layer</label>
        <select name="selectLayer" id="selectLayer">
        </select><br><br>

        <label for="">Select Attribute</label>
        <select name="selectAttribute" id="selectAttribute">
        </select><br><br>

        <label for="">Select Operator</label>
        <select name="selectOperator" id="selectOperator">
        </select><br><br>

        <label for="">Enter Value</label>
        <input type="text" name="enterValue" id="enterValue">
        </select><br><br>

        <button type="button" id="attQryRun" class="attQryRun" onclick="attributeQuery()">Run</button>
    </div>

    <div class="attListDiv" id="attListDiv">
    </div>
  -->

</div>

<script src="/static/resources/ol/ol.js"></script>
<script src="/static/resources/layerswitcher/ol-layerswitcher.js"></script>

<script  type="text/javascript">



                
        var lay = JSON.parse('{{ lay | safe }}')
        var workspace = JSON.parse('{{ workspace | safe}}')
        var ngrok_ip = JSON.parse('{{ ngrok_ip | safe}}')


        var mapView = new ol.View({
            center: ol.proj.fromLonLat([78.776032, 23.766398]),
            zoom: 4.5
        });

        var map = new ol.Map({
            target: 'map',
            view: mapView,
            controls: []
        });

        var noneTile = new ol.layer.Tile({
            title: 'None',
            type: 'base',
            visible: false
        });

        var osmTile = new ol.layer.Tile({
            title: 'Open Street Map',
            visible: true,
            type: 'base',
            source: new ol.source.OSM()
        });

        // map.addLayer(osmTile);
        var baseGroup = new ol.layer.Group({
            title: 'Base Maps',
            fold: true,
            layers: [osmTile, noneTile]
        });

        map.addLayer(baseGroup);

        var layer_names = [];

        for(let i = 0; i < lay.length ; i++){
                    
            current = window[lay[i]]

                current = new ol.layer.Tile({

                    title: lay[i],
                    source: new ol.source.TileWMS({
                    url: ngrok_ip + '/geoserver/' + workspace  + '/wms',
                
                    params: {'LAYERS': workspace + ':' + lay[i], 'TILED': 'true'},
                    serverType: 'geoserver',
                    visible: true
                })
                
            });
            

            console.log(lay[i]) 
            console.log(workspace + ':' + lay[i])
            console.log(ngrok_ip + '/geoserver/' + workspace  + '/wms') 

            console.log('\n')

            layer_names.push(current)

        }

        // map.addLayer(IndiaStTile);

        var overlayGroup = new ol.layer.Group({
            title: 'Overlays',
            fold: true,
            layers: layer_names
        });

        map.addLayer(overlayGroup);

        var layerSwitcher = new ol.control.LayerSwitcher({
            activationMode: 'click',
            startActive: false,
            groupSelectStyle: 'children'
        });

        map.addControl(layerSwitcher);
</script>

    
{%endblock%}

