
{% extends 'base.html' %}
    
{% block body %}


<div class="row">
    <div class="col-sm-10 allbuttons">
       
        <button id="togglelayer" class="myButton" ><img src="\static\resources\images\layers.svg"alt=""><span class="tooltip">Layers</span></button>
        <button id="toggleButton" onclick="toggleTooly()" class="myButton"><img src="\static\resources\images\edit.svg" alt=""><span class="tooltip">Tools</span></button>
        <div class="tooly">
            <button id="homeButton" class="myButton toolbtn">
                <img src="/static/resources/images/homebtn.svg" alt="" />
                <span class="tooltip">home</span>
            </button>
            <!-- Zoom Out Button -->
            <button id="zoButton" class="myButton toolbtn">
                <img src="/static/resources/images/zoomminus.svg" alt="" />
                <span class="tooltip">Zoom&nbsp;Out</span>
            </button>
            <!-- Zoom In Button -->
            <button id="ziButton" class="myButton toolbtn">
                <img src="/static/resources/images/zoomplus.svg" alt="" />
                <span class="tooltip">Zoom&nbsp;In</span>
            </button>
            <!-- Length Control Button -->
            <button id="lengthButton" class="myButton toolbtn">
                <img src="/static/resources/images/scale.svg" alt="" />
                <span class="tooltip">Length</span>
            </button>
            <!-- Area Control Button -->
            <button id="areaButton" class="myButton toolbtn">
                <img src="/static/resources/images/area.svg" alt="" />
                <span class="tooltip">Area</span>
            </button>
            <!-- Full Screen Button -->
            <button id="fsButton" class="myButton toolbtn">
                <img src="/static/resources/images/full.svg" alt="" />
                <span class="tooltip">Fullscreen</span>
            </button>
            <button id="ptButton" class="myButton toolbtn">
                <img src="/static/resources/images/pointer.svg" alt="" />
                <span class="tooltip">pointer</span>
            </button>
        </div>
        
        
        </div>
        <div id="map"></div>
        <div id="sidebar" >
            <div class="checkbox-wrapper">
                <h2>Layers</h2>
                
            <input type="checkbox" class="tick_mark" checked='checked' id="toggleAllLayers"> 
            <label for="toggleAllLayers"><div class="tick_mark"></div></label>
            

            </div>
            
            <br>
            <div class="checkbox-wrapper">
                <input id="googleMaps" type="checkbox" value="Google Maps" checked onchange="toggleLayer(event)">
                <label for="googleMaps"><div class="tick_mark"></div></label>
                <span>Google Maps</span>
            </div>
            <br>
            <div class="checkbox-wrapper">
                <input id="googleSatellite" type="checkbox" value="Google Satellite" checked onchange="toggleLayer(event)">
                <label for="googleSatellite"><div class="tick_mark"></div></label>
                <span>Satellite</span>
            </div>
            
                <br>
                {% for l in layer_list %}
                <div class="checkbox-wrapper">
                    <input class="layer-checkbox" id="{{ l }}" type="checkbox" value="{{ l }}" checked onchange="toggleLayer(event)">
                    <label for="{{ l }}"><div class="tick_mark"></div></label>
                    <span>{{ l }}</span>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>     
        
        
        <div id="popupDialog" class="popup">
            <div class="popup-content">
                <span class="popup-close">&times;</span>
                <p class="popup-p">Enter&nbsp;pointer&nbsp;name:</p>
                <div class="popup-in">
                    <input class="popup-input" type="text" id="pointerName" placeholder="Pointer Name">
                    <button id='submitName'class="popup-button"><span>Submit</span></button>
                </div>
            </div>
        </div>
        </div>
        <style>
            
            
            
            
        </style>
        <div id="pointerDialog" class="pointerup">
            <div class="point-content">
                <span class="pointer-close">&times;</span>
                <div class="pointer-info">
                    <p id="pointerNameDisplay"></p>
                    <p id="pointerLongitudeDisplay"></p>
                    <p id="pointerLatitudeDisplay"></p>
                </div>
            </div>
        </div>
<div id="popup" class="ol-popup">

    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div> 
<link rel="stylesheet" href="/static/styles/mapstyle.css">
<link rel="stylesheet" href="/static/styles/popup.css">

<script src="/static/resources/ol/ol.js"></script>
<script src="/static/resources/layerswitcher/ol-layerswitcher.js"></script>
<script src="/static/js/MapView.js"></script>
<script src="/static/js/controls.js"></script>
<script src="/static/js/pointer.js"></script>
<script src="/static/js/savegjson.js"></script>
<script src="/static/js/savepointer.js"></script>



<script  type="text/javascript">

   
    document.addEventListener("DOMContentLoaded", function() {
        // Initially show the tooly
        var toolyDiv = document.querySelector('.tooly');
        var togImage = document.querySelector('#toggleButton img');
    
        toolyDiv.classList.add('show');
        togImage.classList.add('clicked-image-border'); // Initially remove the class

        // Toggle the tooly visibility on button click
        document.querySelector('#toggleButton').addEventListener('click', function() {
            toolyDiv.classList.toggle('hide');
            togImage.classList.toggle('clicked-image-border'); // Initially remove the class

        });
    });
    
    $(document).ready(function() {
        $("#togglelayer").click(function() {
            $("#sidebar").toggleClass("sidebar-visible"); 
        });   
    });
    

        //mapView             
        var map = mapView(
            JSON.parse('{{ lay | safe }}'),
            JSON.parse('{{ workspace | safe }}'),
            JSON.parse('{{ ngrok_ip | safe }}'),
            JSON.parse('{{ lon | safe }}'),
            JSON.parse('{{ lat | safe }}'),
            JSON.parse('{{ zoom | safe }}')
        );
        var scaleControl  = new ol.control.ScaleLine({
            bar: true,
            text: true
        });

        map.addControl(scaleControl);


        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');

        var popup = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250,
            },
        });

        map.addOverlay(popup);

        closer.onclick = function () {
            popup.setPosition(undefined);
            closer.blur();
            return false;
        };

        var dashboardUrl = "{{ url_for('dashboard') }}";
        var projectId={{ id }};


        // home Control
        
       
        
        
        createControls();
        /**
        * Message to show when the user is drawing a polygon.
        * @type {string}
        */
        var continuePolygonMsg = 'Click to continue polygon, Double click to complete';

        /**
        * Message to show when the user is drawing a line.
        * @type {string}
        */
        var continueLineMsg = 'Click to continue line, Double click to complete';

        var draw; // global so we can remove it later

        var source = new ol.source.Vector();
        var vector = new ol.layer.Vector({
            source: source,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(102, 255, 232,.5)',
                }),
                stroke: new ol.style.Stroke({
                    color: 'white',
                    width: 2,
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: 'rgba(102, 255, 232,.2)',
                    }),
                }),
            }),
        });

        map.addLayer(vector);

        function addInteraction(intType) {
            map.removeInteraction(draw);

            draw = new ol.interaction.Draw({
                source: source,
                type: intType,
                style: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: 'rgba(200, 200, 200, 0.6)',
                    }),
                    stroke: new ol.style.Stroke({
                        color: 'rgba(0, 0, 0, 0.5)',
                        lineDash: [1, 20],
                        width: 2,
                    }),
                    image: new ol.style.Circle({
                        radius: 5,
                        stroke: new ol.style.Stroke({
                            color: 'rgba(0, 0, 0, 0.7)',
                        }),
                        fill: new ol.style.Fill({
                            color: 'rgba(255, 255, 255, 0.2)',
                        }),
                    }),
                }),
            });
            map.addInteraction(draw);

            createMeasureTooltip();
            createHelpTooltip();

            /**
            * Currently drawn feature.
            * @type {import("../src/ol/Feature.js").default}
            */
            var sketch;

            /**
            * Handle pointer move.
            * @param {import("../src/ol/MapBrowserEvent").default} evt The event.
            */
            var pointerMoveHandler = function (evt) {
                if (evt.dragging) {
                    return;
                }
                /** @type {string} */
                var helpMsg = 'Click to start drawing';

                if (sketch) {
                    var geom = sketch.getGeometry();
                    // if (geom instanceof ol.geom.Polygon) {
                    //   helpMsg = continuePolygonMsg;
                    // } else if (geom instanceof ol.geom.LineString) {
                    //   helpMsg = continueLineMsg;
                    // }
                }

                //helpTooltipElement.innerHTML = helpMsg;
                //helpTooltip.setPosition(evt.coordinate);

                //helpTooltipElement.classList.remove('hidden');
            };

            map.on('pointermove', pointerMoveHandler);

            // var listener;
            draw.on('drawstart', function (evt) {
                // set sketch
                sketch = evt.feature;

                /** @type {import("../src/ol/coordinate.js").Coordinate|undefined} */
                var tooltipCoord = evt.coordinate;

                //listener = sketch.getGeometry().on('change', function (evt) {
                sketch.getGeometry().on('change', function (evt) {
                    var geom = evt.target;
                    var output;
                    if (geom instanceof ol.geom.Polygon) {
                        output = formatArea(geom);
                        tooltipCoord = geom.getInteriorPoint().getCoordinates();
                    } else if (geom instanceof ol.geom.LineString) {
                        output = formatLength(geom);
                        tooltipCoord = geom.getLastCoordinate();
                    }
                    measureTooltipElement.innerHTML = output;
                    measureTooltip.setPosition(tooltipCoord);
                });
            });

            draw.on('drawend', function () {
                var feature = event.feature;
                measureTooltipElement.className = 'ol-tooltip ol-tooltip-static';
                measureTooltip.setOffset([0, -7]);
                // unset sketch
                sketch = null;
                // unset tooltip so that a new one can be created
                measureTooltipElement = null;
                createMeasureTooltip();
                //ol.Observable.unByKey(listener);
               
            });
        }
        

         

        /**
        * The help tooltip element.
        * @type {HTMLElement}
        */
        var helpTooltipElement;

        /**
        * Overlay to show the help messages.
        * @type {Overlay}
        */
        var helpTooltip;

        /**
        * Creates a new help tooltip
        */
        function createHelpTooltip() {
            if (helpTooltipElement) {
                helpTooltipElement.parentNode.removeChild(helpTooltipElement);
            }
            helpTooltipElement = document.createElement('div');
            helpTooltipElement.className = 'ol-tooltip hidden';
            helpTooltip = new ol.Overlay({
                element: helpTooltipElement,
                offset: [15, 0],
                positioning: 'center-left',
            });
            map.addOverlay(helpTooltip);
        }

        // map.getViewport().addEventListener('mouseout', function () {
        //     helpTooltipElement.classList.add('hidden');
        // });

        /**
        * The measure tooltip element.
        * @type {HTMLElement}
        */
        var measureTooltipElement;


        /**
        * Overlay to show the measurement.
        * @type {Overlay}
        */
        var measureTooltip;

        /**
        * Creates a new measure tooltip
        */

        function createMeasureTooltip() {
            if (measureTooltipElement) {
                measureTooltipElement.parentNode.removeChild(measureTooltipElement);
                console.log("MeasureTooltip", measureTooltipElement);
            }
            measureTooltipElement = document.createElement('div');
            measureTooltipElement.className = 'ol-tooltip ol-tooltip-measure';
            measureTooltip = new ol.Overlay({
                element: measureTooltipElement,
                offset: [0, -15],
                positioning: 'bottom-center',
            });
            map.addOverlay(measureTooltip);
        }





        /**
        * Format length output.
        * @param {LineString} line The line.
        * @return {string} The formatted length.
        */
        var formatLength = function (line) {
            var length = ol.sphere.getLength(line);
            var output;
            if (length > 100) {
                output = Math.round((length / 1000) * 100) / 100 + ' ' + 'km';
            } else {
                output = Math.round(length * 100) / 100 + ' ' + 'm';
            }
            return output;
        };

        /**
        * Format area output.
        * @param {Polygon} polygon The polygon.
        * @return {string} Formatted area.
        */
        var formatArea = function (polygon) {
            var area = ol.sphere.getArea(polygon);
            var output;
            if (area > 10000) {
                output = Math.round((area / 1000000) * 100) / 100 + ' ' + 'km<sup>2</sup>';
            } else {
                output = Math.round(area * 100) / 100 + ' ' + 'm<sup>2</sup>';
            }
            return output;
        };

       

        function newaddGeoJsonToMap(url) {

            if (geojson) {
                console.log("newaddgeojson",geojson);
                geojson.getSource().clear();
                map.removeLayer(geojson);
            }

            var style = new ol.style.Style({
                // fill: new ol.style.Fill({
                //   color: 'rgba(0, 255, 255, 0.7)'
                // }),
                stroke: new ol.style.Stroke({
                    color: '#FFFF00',
                    width: 3
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#FFFF00'
                    })
                })
            });

            geojson = new ol.layer.Vector({
                source: new ol.source.Vector({
                    url: url,
                    format: new ol.format.GeoJSON()
                }),
                style: style,

            });

            geojson.getSource().on('addfeature', function () {
                map.getView().fit(
                    geojson.getSource().getExtent(),
                    { duration: 1590, size: map.getSize(), maxZoom: 21 }
                );
            });
            map.addLayer(geojson);
        };

        function newpopulateQueryTable(url) {
            if (typeof attributePanel !== 'undefined') {
                if (attributePanel.parentElement !== null) {
                    attributePanel.close();
                }
            }
            $.getJSON(url, function (data) {
                var col = [];
                col.push('id');
                for (var i = 0; i < data.features.length; i++) {

                    for (var key in data.features[i].properties) {

                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }

                var table = document.createElement("table");

                table.setAttribute("class", "table table-bordered table-hover table-condensed");
                table.setAttribute("id", "attQryTable");
                // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

                var tr = table.insertRow(-1);                   // TABLE ROW.

                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");      // TABLE HEADER.
                    th.innerHTML = col[i];
                    tr.appendChild(th);
                }

                // ADD JSON DATA TO THE TABLE AS ROWS.
                for (var i = 0; i < data.features.length; i++) {
                    tr = table.insertRow(-1);
                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        if (j == 0) { tabCell.innerHTML = data.features[i]['id']; }
                        else {
                            tabCell.innerHTML = data.features[i].properties[col[j]];
                        }
                    }
                }

                // var tabDiv = document.createElement("div");
                var tabDiv = document.getElementById('attListDiv');

                var delTab = document.getElementById('attQryTable');
                if (delTab) {
                    tabDiv.removeChild(delTab);
                }

                tabDiv.appendChild(table);

                document.getElementById("attListDiv").style.display = "block";
            });

        };

        var highlightStyle = new ol.style.Style({
            fill: new ol.style.Fill({
            color: 'red',
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 3,
            }),
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                    color: 'red'
                })
            })
        });


        var featureOverlay = new ol.layer.Vector({
            source: new ol.source.Vector(),
            map: map,
            style: highlightStyle
        });

        function newaddRowHandlers() {
            var table = document.getElementById("attQryTable");
            var rows = document.getElementById("attQryTable").rows;
            var heads = table.getElementsByTagName('th');
            var col_no;
            for (var i = 0; i < heads.length; i++) {
                // Take each cell
                var head = heads[i];
                if (head.innerHTML == 'id') {
                    col_no = i + 1;
                }

            }
            for (i = 0; i < rows.length; i++) {
                rows[i].onclick = function () {
                    return function () {
                        featureOverlay.getSource().clear();

                        $(function () {
                            $("#attQryTable td").each(function () {
                                $(this).parent("tr").css("background-color", "white");
                            });
                        });
                        var cell = this.cells[col_no - 1];
                        var id = cell.innerHTML;
                        $(document).ready(function () {
                            $("#attQryTable td:nth-child(" + col_no + ")").each(function () {
                                if ($(this).text() == id) {
                                    $(this).parent("tr").css("background-color", "#d1d8e2");
                                }
                            });
                        });

                        var features = geojson.getSource().getFeatures();

                        for (i = 0; i < features.length; i++) {
                            if (features[i].getId() == id) {
                                featureOverlay.getSource().addFeature(features[i]);

                                featureOverlay.getSource().on('addfeature', function () {
                                    map.getView().fit(
                                        featureOverlay.getSource().getExtent(),
                                        { duration: 1500, size: map.getSize(), maxZoom: 24 }
                                    );
                                });

                            }
                        }
                    };
                }(rows[i]);
            }
        }

        // end : attribute query   

</script>

    
{% endblock %}

