<!DOCTYPE html>
<html>
<head>
    <title>Toggle Button</title>
    <style>
        .tooly {
            display: none; /* Initially hide the div */
            position: absolute;
            top: 50px; /* Adjust as needed */
            left: 50px; /* Adjust as needed */
            background-color: #ffffff;
            padding: 10px;
            border: 1px solid #cccccc;
            z-index: 1;
        }

        .tooly.show {
            display: block; /* Show the div when the 'show' class is applied */
        }
    </style>
</head>
<body>
    <!-- Toggle Button -->
    <button id="toggleButton">Toggl55e</button>

    <!-- Your 'tooly' div with buttons -->
    <div class="tooly">
        <button id="homeButton" class="myButton"style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
            <img src="/static/resources/images/homebtn.svg" alt="" ></img>
        </button>
        <!-- Zoom Out Button -->
        <button id="zoButton" class="myButton" style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
        </button>
        <!-- Zoom In Button -->
        <button id="ziButton" class="myButton" style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
            he
        </button>
        <!-- Length Control Button -->
        <button id="lengthButton" class="myButton" style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
            <img src="/static/resources/images/scale.svg" alt="" ></img>
        </button>
        <!-- Area Control Button -->
        <button id="areaButton" class="myButton" style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
            <img src="/static/resources/images/area.svg" alt="" ></img>
        </button>
        <!-- Full Screen Button -->
        <button id="fsButton" class="myButton" style="position:relative; z-index: 2;background-color: transparent;border: none; width:40px; ">
            <img src="/static/resources/images/full.svg" alt="" ></img>
        </button>
    </div>

    <script>
        document.getElementById('toggleButton').addEventListener('click', function() {
            // Toggle the 'show' class on the 'tooly' div
            document.querySelector('.tooly').classList.toggle('show');
        });
    </script>
    <style>


    </style>
</body>
</html>
