<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a360a3465c65c7ac6635f41a2b6998c5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a360a3465c65c7ac6635f41a2b6998c5" ></div>
        
</body>
<script>
    
    
            var map_a360a3465c65c7ac6635f41a2b6998c5 = L.map(
                "map_a360a3465c65c7ac6635f41a2b6998c5",
                {
                    center: [22.9734, 78.6569],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d4cfa909139916bd2653a0febd703bdf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a360a3465c65c7ac6635f41a2b6998c5);
        
    
            var macro_element_ea99aae450405f5741fd8f050e129ced = L.tileLayer.wms(
                "https://d619-61-2-143-247.in.ngrok.io///geoserver/Demouser/wms",
                {"attribution": "", "format": "image/png", "layers": "Demouser:2011_dist", "styles": "", "transparent": true, "version": "1.1.1"}
            ).addTo(map_a360a3465c65c7ac6635f41a2b6998c5);
        
    
            var macro_element_b7376bc47971136d4a6ecb78093e7b2f = L.tileLayer.wms(
                "https://d619-61-2-143-247.in.ngrok.io///geoserver/Demouser/wms",
                {"attribution": "", "format": "image/png", "layers": "Demouser:admin2", "styles": "", "transparent": true, "version": "1.1.1"}
            ).addTo(map_a360a3465c65c7ac6635f41a2b6998c5);
        
    
            var layer_control_3b891c0e8b148d276acaa68d0c22ad41 = {
                base_layers : {
                    "openstreetmap" : tile_layer_d4cfa909139916bd2653a0febd703bdf,
                },
                overlays :  {
                    "2011_dist" : macro_element_ea99aae450405f5741fd8f050e129ced,
                    "admin2" : macro_element_b7376bc47971136d4a6ecb78093e7b2f,
                },
            };
            L.control.layers(
                layer_control_3b891c0e8b148d276acaa68d0c22ad41.base_layers,
                layer_control_3b891c0e8b148d276acaa68d0c22ad41.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_a360a3465c65c7ac6635f41a2b6998c5);
        
</script>
</html>