<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol@6.8.0/dist/ol.js"></script>
<script src="/static/js/reload.js"></script>
<script src="/static/resources/ol/ol.js"></script>
<script src="/static/resources/layerswitcher/ol-layerswitcher.js"></script>
<script src="/static/js/MapView.js"></script>
<script src="/static/js/controls.js"></script>
<script src="/static/js/pointer.js"></script>
<script src="/static/js/showmetric.js"></script>
<script src="/static/js/storepolyline.js"></script>
<script src="/static/js/deletemetrics.js"></script>
<script src="/static/js/attributes.js"></script>
<script src="/static/js/filter.js"></script>
<script src="/static/js/addInteraction.js"></script>
<script src="/static/js/formatLengthArea.js"></script>
<script src="/static/js/createToolTip.js"></script>
<script src="/static/js/toggleSlide.js"></script>