{% extends 'base.html' %}

{% block title %} Status - Nevar-Systems {% endblock %}


{% block body %}

<div class="card w-90 bg-light" style="margin:1%; padding: 0.5%; ; ">
    <div class="card-body">
      <h5 class="card-title"> User : {{user.username}} </h5>
      <h5 class="card-text"> Email : {{user.email}}</h5>

      <br>
        
      <form method="POST" action="/status/{{user.id}}">
        {{ ProjectName.hidden_tag() }}

        <div class="input-group mb-3">
            {{ ProjectName.name(type="text" , class="form-control" , placeholder="Project Name" ) }}
 
            <div class="input-group-append">
                
                {{ProjectName.submit(class="btn btn-outline-primary")}}

            </div>
        </div>

    </form>
        
    
    {% for  pro in projects %}

    <div  style="margin:1%; padding: 0.5%;">

        <div class="card mb-3">
            <div class="card-body bg-info d-flex justify-content-center align-items-center">
                <img src="/static/images/folder.png" class="img-fluid" style=" width: 100px; height: 100px;">
            </div>
            
            <div class="card-footer d-flex justify-content-between">
                <h4><b> {{ pro.name }} </b></h4>

                    <a class="btn btn-primary" href="{{url_for('add_layer', id=pro.id)}}"> Add Layer </a>
                <div class="ml-auto">
                    <a class="btn btn-danger" href="{{url_for('delete_project', id=pro.id)}}" > Delete </a>
                
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}

    </div>
  </div>
  



{% endblock %}



