<!-- success.html -->
<!DOCTYPE html>
{% extends 'lbody.html' %}

{% block title %} Add User - Nevar-Systems {% endblock %}


{% block body %}

    <head>
      <script src="{{ url_for('static', filename='js/otp.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/Otp.css') }}">
      
    </head>
    <body>
      <p>Check your email for the OTP</p>
      <p>If you don't see the email in your inbox, please make sure to check your spam or junk folder.</p>
              <div class="otpverify">
  
              <div class="wave-group">
                <input required="" type="text" class="input" id="otp_inp">
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">E</span>
                  <span class="label-char" style="--index: 1">n</span>
                  <span class="label-char" style="--index: 2">t</span>
                  <span class="label-char" style="--index: 3">e</span>
                  <span class="label-char" style="--index: 4">r</span>
                  <span class="label-char" style="--index: 5">&nbsp;</span>
                  <span class="label-char" style="--index: 6">y</span>
                  <span class="label-char" style="--index: 7">o</span>
                  <span class="label-char" style="--index: 8">u</span>
                  <span class="label-char" style="--index: 9">r</span>
                  <span class="label-char" style="--index: 10">&nbsp;</span>
                  <span class="label-char" style="--index: 11">O</span>
                  <span class="label-char" style="--index: 12">T</span>
                  <span class="label-char" style="--index: 13">P</span>
                  
                </label>
              </div>
            <button class="btn button " id="otp-btn" onclick="verifyOTP()">Verify<svg fill="currentColor" viewBox="0 0 924 24" class="icon"></svg></button>
        </div>


{%endblock%}