    



.project_container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */

  }
  
.project_container .card {
    /* width: calc(33.33% - 20px); */
    width: calc(25% - 20px);
    margin: 10px;
  }
  
.project_container .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.project_container .card-footer {
    display: flex;
    justify-content: space-between;
  }
  

.login-container{

    position: fixed;
    width: 100%;

    background-image: url('/static/images/greece-drones.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.login-container img {
    filter: invert(100%);
}

.login-container .card{

    /* background-color: #EB6440; */
    /* color: white; */
    /* background-image: url('/static/images/bg2.webp'); */
    background-size: cover;
    background-position: center

}


iframe {

    position: fixed;
    width: 100%;
    min-height: 100%;
  }
  
.gradient-custom {
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}