
#sidebar {
  height: 90vh;
  border-radius: 0px 10px 10px 0px;
  overflow: fixed;
  border: 1px solid white;
  box-shadow: inset rgba(244, 244, 244, 0.3) -10px 0px 30px, inset rgba(6, 6, 6, 0.947) -10px 0px 20px;
  width: 200px;
  z-index: 23;
  background-color: rgba(225, 234, 234, 0.5);
  position: relative;
  flex-direction: column;
  transition: transform .3s ease-in-out; /* Smooth transition for visibility */

}

.row {
  background: transparent;
  flex-wrap: nowrap;
  width: 200px;
  transition: transform 1s ease-in-out; /* Add transition for transform property */
}
.row.hidden-row {
  transform: translateX(-100%);
}


.sidebar-visible {
  transform: translateX(-200px); /* Hide the sidebar */
}
.sidebar-visible .myButton {
  left: 20px; /* Adjust the left position based on sidebar width */
}
    
    
    h2{
        font-family:monospace;
        font-weight: bold;
        color:black;
    }

/* check box */
.checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper label {
    --size: 25px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #36f1c5fa, #FFCC70 100%);
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }
  
  .checkbox-wrapper label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
  }
  
  .checkbox-wrapper label:active {
    transform: scale(0.9);
  }
  
  .checkbox-wrapper .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .6);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
  }
  
  .checkbox-wrapper .tick_mark:before,
    .checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  
  .checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .1);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
  }
  
  .checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #1695f0 0%, #36f1c5fa 46%, #21aeff 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 10px 1px 38px, rgba(0, 0, 0, 0.22) -5px 5px 5px;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label:before {
    width: 0;
    height: 0;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:before,
    .checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }
  .checkbox-wrapper span {
    font-size: 16px; /* Adjust the font size of the text if necessary */
    color: #000; /* Adjust the color of the text if necessary */
}

.myButton {
  padding: 15px;
  z-index: 2;
  background-color: transparent;
  border: none;
  font-weight: 700;
  height: 40px;
  width: 40px;

  
  left: 0;
  transition: left 0.3s ease; /* Add transition for smoother movement */
}

img{
height:25px;
border-radius: 20px;
width:25px;
box-shadow: rgba(0, 0, 0, 0.3) 10px 1px 38px, rgba(0, 0, 0, 0.22) -5px 5px 5px;
left: 0%;

}
.bigbtn img{
  width: 35px;
  height: 35px;
  
}
.clicked-image-border {
  border: 4px dashed rgb(253, 155, 8); 
  border-radius: 20px;

}

#toggleButton{
  width:40px;
  z-index: 2;

  background:transparent !important;

}

.container {
  position: relative;
  height: 200px;
  width: 10px;
  visibility: hidden;
}

.tooly {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 200px; 
  height: 100%; 

}

/* CSS to show the .tooly div */
.tooly.show {
  z-index: 2;
    display: flex; 
    visibility: visible;
    
    transform: translateY(5%);
} 

.tooly.hide {
  z-index: 2;
  display: flex; 
  
  transition: transform .4s ease-in-out, visibility .15s ease-in-out;
    visibility: hidden;
    transform: translateY(-100%);
}

