
#map {
  position: fixed; 
  /* width: 110vw; */
  column-width: 100vw; 
  height: 100vh;
  left: 1px;
  margin-top: -65px;
  padding: 0%;
  z-index: 0;
}
#sidebar {
  height: clamp(91vh, 91vh, 91vh);
  border-radius: 0px 10px 10px 0px;
  width: auto !important;
  overflow: hidden;
  /* box-shadow: inset rgba(0, 0, 0, 1) -10px 0px 20px; */
  z-index: 1;
  background: rgb(237, 236, 236);
  position: relative;
  flex-direction: column;
  transition: transform .7s ease-in-out; 
}

.layerNames {
  overflow-y: auto;
  height: clamp(80vh, 91vh, 80vh);
  background:transparent !important;
  border-radius: 10px;
  scrollbar-width: 20px;
  scrollbar-color: hsla(160, 23%, 97%, 0.2) transparent !important;
  width: clamp(200px,220px,400px);
  
}

.layerNames::-webkit-scrollbar {
  border-radius: 20px;
}


.row {
  background: transparent;
  flex-wrap: nowrap;
  z-index: 5;
  width: clamp(200px,230px,400px);
}
.row.hidden-row {
  transform: translateX(-200%);
  z-index: 5;  
  width: clamp(200px,230px,400px);
}


.sidebar-visible {
  transform: translateX(-500px); 
  z-index: 0;
}

    
    
h2{
  
    font-weight: bold;
    color:rgb(72, 71, 71);
}

/* check box */
.checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper label {
    --size: 25px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #f2f6f7 0%, #4cbdc8 0%, #06e3f7 10%);
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #a1a4a4;
    transition: 0.2s ease width, 0.2s ease height;
  }
  
  .checkbox-wrapper label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
  }
  
  .checkbox-wrapper label:active {
    transform: scale(0.9);
  }
  
  .checkbox-wrapper .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .6);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
  }
  
  .checkbox-wrapper .tick_mark:before,
    .checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  
  .checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .1);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
  }
  
  .checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #4158D0;
    background-image: #36f1c5fa;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 1px 38px, rgba(0, 0, 0, 0.22) -5px 5px 5px;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label:before {
    width: 0;
    height: 0;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:before,
    .checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }
  .checkbox-wrapper span {
    font-size:clamp(9px,15px,20px); 
    color: #000;
}



.myButton {
  z-index:3;
  background-color: transparent;
  border: none;
  font-weight: 700;
  transition: left 0.3s ease;
}

img{
height:25px;
border-radius: 20px;
width:25px;
/* box-shadow: rgba(0, 0, 0, 0.3) 10px 1px 38px, rgba(0, 0, 0, 0.22) -5px 5px 5px; */
left: 0%;
z-index: inherit;

}

  .nav-img {
    box-shadow: none;
   
    filter: invert(0%);
   
    
  }

.nav-link{
  color: black;
}
#togglelayer img,#toggleButton img,#metricButton img{
  width: 35px;
  height: 35px;
  
}
.clicked-image-border {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 1px 38px, rgba(0, 0, 0, 0.22) -5px 5px 5px;
  border-radius: 20px;
  background-image: linear-gradient(43deg, #f2f6f7 0%, #4cbdc8 0%, #06e3f7 10%);
 
}




.container {
  position: relative;
  height: 200px;
  width: 10px;
  z-index: 3;
}

#homeButton {
  position: fixed;
  bottom: 5px;
  left: 7px;
  transform: translate(-20%,20%);
  
}
#homeButton img{
  width: 30px;
  height: 30px;
  
}


.tooly {
  position: fixed;
  display: flex;
  flex-direction: column;
  
  top: 20%; /* Start off-screen at the top */
  right: 1px;
  width: 40px;
  margin-right:3px ;
  z-index: 3;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  background: rgb(252, 252, 252);
  border-radius: 30px;
}

/* CSS to show the .tooly div */
.tooly.show {
  /* top: 20%; 
  z-index: 3; */
  transform: translateX(0%);
}

/* CSS to hide the .tooly div */
.tooly.hide {
 transform: translateX(0%);
}


.allButtonBar {
  /* box-shadow: rgba(113, 113, 113, 0.5) 4px 4px 5px; */
            
  height: 91vh;
  z-index: 3;
  background: rgb(230, 229, 229);
  /* background-color:#ffffff; */
  border: 1px solid #4cbdc8;
  width: 60px;
  border-top: none repeat;
}

.myButton .tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  background: rgba(161, 242, 248, 0.7); 
  border-radius: 8px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  
}


.mainBtn .maintip {
  position: absolute;
  top: 90%;
  width: auto;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
  opacity: 0; 
  font-size: 14px;
 
  
}

.mainBtn:hover .maintip {
  padding: 0.3em ;
  opacity: 1;
  pointer-events: auto;
}

.myButton:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}
.toolbtn {
  position: relative; 
}
  
.toolbtn:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}


.metricbar {
  position: fixed;
  top: 100px;
  right: 0; 
  width: auto; 
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform property */
  max-height: 100%; /* Setting maximum height to make it scrollable */
  overflow-y: auto; /* Making it scrollable */
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 10px 0px 10px;
  background: rgb(245, 245, 245);
  /* background-color:#4cbdc8; */

}

.metricbar.hidden {
  transform: translateX(0%); /* Slide out to the right when hidden */
}



.metricbar div {
  margin-bottom: 10px;
}

.metric-section {
  margin-bottom: 20px;
}

.metric-list {
  display: flex;
  flex-direction: column;
  max-height: 150px; /* Adjust the max-height according to your needs */
  overflow-y: auto; /* Making it scrollable */
  padding-right: 15px; /* Adjusting for scrollbar */
}
/* Hide scrollbar for Firefox */
.metric-list::-webkit-scrollbar {
  width: 0;
}

/* Hide scrollbar for IE, Edge and Safari */
.metric-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.metric-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.metric-checkbox {
  margin-right: 10px;
}

.metric-name {
  margin-right: auto;
}

.delmetric {
  border: none;
}

.btnBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4cbdc8;
  border-radius: 30px;
  padding: 5px;
  margin: 5px  4px;

}

.toolbtn{
  margin: 0px 5px 0px 5px;
    padding: 5px;

}
.mainbtnBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgb(160, 159, 159); */
  background-color: transparent;
  border-radius: 10px 10px 30px 30px;
  padding: 5px;
  
  margin-left:10px ;
  
}
.mainBtn{
  position: relative; 
    padding: 10px;
}

.metimg{
  background:transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.metric-list{
  font-size: 12px;
}

.loading-popup {
  display: none;
  position: fixed; /* Change to fixed position */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire width of the viewport */
  height: 100%; /* Cover the entire height of the viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999;
}

.loading-content {
  position: absolute;
  top: 50%; /* Center the popup vertically */
  left: 50%; /* Center the popup horizontally */
  transform: translate(-50%, -50%); /* Center the popup exactly in the middle */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading-content .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #36f1c5fa;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h5 {
  background: linear-gradient(70deg, #000000fa, #000000fa, #36f1c5fa,#000000fa);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  border-radius: 5px;
}

#attributeContainer {
  font-size: smaller;
  position: fixed;
  bottom: 0px; /* Adjust as needed */
  right: 0px; /* Adjust as needed */
  width: auto;
  max-height: calc(100% - 40px); /* Adjust as needed */
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 10px 0px 10px;
  background: rgb(245, 245, 245);
  z-index: 10; /* Ensure it appears above other elements */
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform property */
}

#attributeContainer:hover {
  transform: translate(-10px,-5px);
}

